NODE_ENV=production
LOG_LEVEL=info
COMMUNITY_NAME=Your Community Name
COMMUNITY_ESTABLISHED=2015
STEAM_LINK=https://steamcommunity.com/groups/yourlinkhere
TWITCH_LINK=https://twitch.tv/yourlinkhere
GITHUB_LINK=https://github.com/yourlinkhere
DISCORD_LINK=https://discord.gg/yourinvitehere
ALLOWED_ORIGINS=https://snksrv.com,http://localhost:3000
